input::placeholder, .text-placeholder {
    font-family: "CircularSemiLight";
    color: #B2B2B2;
    font-size: 15px;
  }

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 690px;
    padding: 40px;
}

.close-form {
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
}

.close-form__img {
    width: 36px;
}

.form-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box-form {
    display: grid;
    gap: 20px 20px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}
section div input, section div select {
    font-size: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(216, 216, 216, 0.15);
    outline: none;
    margin-bottom: 35px;
}
section {
    background: #1F2325;
    border-radius: 5px;
}
section h2 {
     color: #fff;
     padding: 0;
     text-align: center;
}
section div {
    position: relative;
}

.form-head {
    text-align: center;
}

.form-head__header {
    font-family: "CircularBold";
    font-size: 54px;
    margin: 0 0 30px;
}

.form-head__info {
    font-family: "CircularRegular";
    color: #B2B2B2;
    font-size: 22px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .form-head__header {
        margin: 0 0 15px;
        font-size: 30px;
    }
    .form-head__info {
        font-size: 16px;
    }
    .form-content {
        width: 80%;
    }
    .close-form__img {
        width: 26px;
    }
    .box-form {
        display: block;
    }
}

@media (max-width: 414px) {
    .form {
        margin: 30px auto;
    }
    input::placeholder, .text-placeholder {
    font-size: 10px;
  }
    .form-content {
        padding: 20px;
    }
}