.menu_item{
    background: #1F2325;
    width: 600px;
    height: 90px;
    display: flex;
    padding: 30px 25px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.menu_head {
    display: flex;
    align-items: center;
}

.menu_head__img {
    width: 40px;
    margin-right: 20px;
}
.menu_head__title {
    font-family: "CircularBold";
    font-weight: 600;
    font-size: 24px;
}

@media (max-width: 600px) {
    .menu_item {
        width: 100%;
        height: 70px;
    }
    .menu_head__title {
        font-size: 20px;
    }
    .menu_btn {
        width: 180px;
    }
}

@media (max-width: 414px) {
    .menu_btn {
        font-size: 10px;
        width: 70px;
    }
    .menu_head__title {
        font-size: 16px;
    }
    .main_logo {
        width: 100%;
        height: 120px;
        font-size: 48px;
        line-height: 68px;
    }
}