.form-input {
    width: 100%;
    padding-bottom: 5px;
}
option{
  background: #1F2325;
}

.input_file {
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.15);
}
#delete-file {
    cursor: pointer;
    position: absolute;
    width: 15px;
    top: 25%;
    right: 0;
}

.format-file {
  font-size: 11px;
}