body {
    background: #0D1012;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.default-btn:hover {
    background-color: #dd6b45;
    cursor: pointer;
}
.default-btn:focus {
    background-color: #cb4c21;
}

.w-100 {
    width: 100% !important;
}

.mt-35 {
    margin-top: 35px;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing-box, .form {
    margin: 60px auto;
}
.navigation {
    position: relative;
}
.nav-message {
    font-family: "CircularRegular" !important;
    background-color: #dd6b45 !important;
    position: absolute;
    top: 15%;
    left: 40%;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 12px;

}
.main_logo {
    font-family: "CircularBold";
    width: 519px;
    height: 182px;
    font-weight: 700;
    font-size: 72px;
    line-height: 91px;
    margin-bottom: 50px;
}

.main_box {
    padding: 90px 0;
    margin-top: 50px;
    background-image: url(../public/img/illustration.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;
}

.btn-share {
    cursor: pointer;
    background: none;
    padding: 14px 40px;
    border: 1px solid #FF6C3A;
}

.btn-share:hover {
    background-color: rgba(203, 76, 33, 0.2);;
}
.btn-share:focus {
    background-color: rgba(179, 65, 0, 0.3);;
}
.text-info {
    margin-top: 15px;
    font-family: "CircularRegular";
    text-align: center;
    width: 480px;
    font-size: 22px;
    line-height: 28px;
    color: #B2B2B2;
}
.landing-box__title {
    font-family: "CircularBold";
    font-weight: 700;
    font-size: 54px;
    line-height: 68px;
}
.landing-box__img {
    margin-bottom: 24px;
    max-width: 320px;
}


.default-btn {
    font-family: "CircularSemiBold";
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    width: 240px;
    height: 48px;
    background: #FF6C3A;
    border: none;
    color: white;
}

@media (max-width: 768px) {
    .landing-box {
        text-align: center;
    }
}
@media (max-width: 360px){
    .landing-box__title {
        font-size: 30px;
        line-height: 40px;
    }
    .landing-box__img {
        width: 250px;
    }
    .text-info {
        font-size: 18px;
        width: 100%;
    }

    .nav-bar__logo {
        width: 120px;
    }
    .btn-share {
        padding: 2px 20px;
    }
}


@font-face {
font-family: "CircularRegular";
src: url("../public/font/EuclidCircularA-Regular.ttf") format("truetype");
}

@font-face {
font-family: "CircularBold";
src: url("../public/font/EuclidCircularA-Bold.ttf") format("truetype");
}

@font-face {
font-family: "CircularSemiBold";
src: url("../public/font/EuclidCircularA-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "CircularSemiLight";
    src: url("../public/font/EuclidCircularA-Light.ttf");
}


